body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

nav{
    display: flex;
    height: max-content;
    width: max-content;
    gap: 10px;
    align-items: center;
}

.button{
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    height: 35px;
    width: max-content;
    padding: 10px;
    border: 1px solid;
    outline:none;
}
.button:hover{
    transition: 0.5s;
    border: 1px solid gray;
    box-shadow: 0px 1px 10px grey;
}

.user {
    display: flex;
    width: max-content;
    border: solid 1px black;
    border-radius: 30px;
    margin: 5px;
    min-width: 300px;
}

.user>span{
    padding: 10px;
    min-width: 60px;
}

.user:hover{
    transition: 0.5s;
    border: 1px solid gray;
    box-shadow: 0px 1px 10px grey;
    cursor: pointer;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}